.errorcontent {
    text-align: center;
    justify-content: center;
    margin-top: 80px;

    .line1 {
        color: #525252;
        font-family: Poppins;
        font-size: 37.058px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .line2 {
        color: #000;
        text-align: center;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}