.content-block-wrapper {
    .content-block-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1.5rem;

        .content-text {
            .content-text-header {
                font-family: "Poppins";
                font-size: 24px;
                font-weight: 500;
            }

            .content-text-info {
                font-family: "Poppins";
                color: #8D8D8D;
                font-size: 16px;
                font-weight: 400;
            }
        }

        .button-groups {
            display: flex;
            gap: 1rem;

            .dx-button {
                border-radius: 8px !important;

                .dx-button-content {
                    gap: .5rem;

                    .dx-icon {
                        font-size: large;
                        margin-right: .5rem;
                    }
                }

                .dx-button-text {
                    text-transform: none;
                    color: #525252;
                    font-family: Poppins;
                    font-weight: 400;
                    line-height: 16px;
                }
            }



            .item-btn {
                .dx-button-text {
                    color: #ffffff;
                }
            }
        }
    }
}




@media only screen and (max-width: 770px) {
    .content-block-wrapper {
        .content-block-1 {
            flex-direction: column;
            gap: 1.6rem;

            .content-text {
                .content-text-header {
                    font-size: 18px;
                    // font-family: 'Poppins';
                }

                .content-text-info {
                    font-size: 14px;
                }
            }

            .button-groups {
                display: flex;
                justify-content: start;

                .dx-widget.dx-button.dx-button-mode-contained.dx-button-normal.dx-button-has-text.dx-button-has-icon {
                    margin-left: 0px;
                }
            }
        }
    }
}

// @media only screen and (min-width: 450px) {

// }

// @media only screen and (min-width: 650px) {
//     .content-block-wrapper{
//         .content-block-1{
//             flex-direction: row;
//             gap: 1rem;

//             .content-text{
//                 .content-text-header{
//                     font-size: 18px;
//                     font-family: 'Poppins';
//                 }

//                 .content-text-info{
//                     font-size: 14px;
//                 }
//             }

//             .button-groups{
//                 display: flex;
//                 justify-content: start;

//                 .dx-widget.dx-button.dx-button-mode-contained.dx-button-normal.dx-button-has-text.dx-button-has-icon
//                 {
//                     margin-left: 0px;
//                 }
//             }
//         }
//     }
// }

@media only screen and (min-width: 770px) {
    .content-block-wrapper {
        .content-block-1 {
            flex-direction: row;
            gap: 1rem;

            // .content-text{
            //     .content-text-header{
            //         font-size: 18px;
            //         font-family: 'Poppins';
            //     }

            //     .content-text-info{
            //         font-size: 14px;
            //     }
            // }

            .button-groups {
                display: flex;
                justify-content: start;

                .dx-widget.dx-button.dx-button-mode-contained.dx-button-normal.dx-button-has-text.dx-button-has-icon {
                    margin-left: 0px;
                }
            }
        }
    }
}

@media only screen and (min-width: 880px) {}

@media only screen and (min-width: 1024px) {}