// .dx-show-invalid-badge.dx-textbox.dx-texteditor.dx-editor-outlined.dx-widget.dx-texteditor-with-floating-label.dx-state-focus{
//     box-shadow: none !important;
// }
// .dx-texteditor.dx-editor-outlined{
//     border-radius: 8px !important;
// }
// .dx-show-invalid-badge.dx-textbox.dx-texteditor.dx-editor-outlined.dx-texteditor-empty.dx-widget.dx-texteditor-with-floating-label

.dx-overlay-wrapper.dx-popup-wrapper.dx-overlay-shader{
    .dx-overlay-content.dx-popup-normal.dx-resizable{
        border-radius: 8px !important;
        .dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection.dx-popup-title.dx-has-close-button{
            display: none !important;
        }
        .pop-content-container{
           box-shadow: none !important; 
        }
    }
}
.tabbed-items-group{
    border: 1px solid rgba(87, 133, 203, 0.5);
    padding-left: 5px;
    padding-right: 5px;
}
// .bottom-button-section{
//     display: flex;
//     justify-content: flex-end;
// }
// .popup-btn-save{
//     .dx-button-content{
//         background-color: #4371B7;
        
//     }
//     span{
//         color: #fff;
//     }
// }

// popheader
.popup-header{
    display: flex !important;
    justify-content: space-between !important;
    align-items: baseline !important;
    .dx-button-has-icon .dx-icon{
        font-size: 24px !important;
    }
}

// tabbed items component styles;
.dx-item-content.dx-multiview-item-content{

    padding: 10px 15px;
    background-color: #efefef;
}
.addimg-wrapper{
    display: flex;
    justify-content: center;
    max-height: 250px;
    img{
        object-fit: contain;
        cursor: pointer;
    }
}
.dx-tabpanel.dx-tabs-wrapper {
    display: flex !important;
}
// @media screen and (min-width: 600px) {
//     .dx-tabs-wrapper{
//         display: flex;
//         justify-content: space-between;
//     }
//   }
// .tabpanel{
//     background-color: #8B77B9;
// }

.dx-show-invalid-badge.dx-textbox.dx-texteditor.dx-editor-outlined.dx-texteditor-empty.dx-widget.dx-texteditor-with-floating-label.dx-validator.dx-visibility-change-handler.dx-state-focused{
    box-shadow: none !important;
}

.dx-toast-wrapper{
    background: transparent !important;
    .dx-toast-success{
        background-color: #FFFFFF !important;
        border: 1px solid #1A5D1A;
        border-radius: 8px !important;
        min-height: 250px;
        font-size: 20px;
        justify-content: center;
        .dx-toast-message{
            padding: 15px 10px;
            border-radius: 8px !important;
            background: #1A5D1A;
            border: 1px solid #1A5D1A;
            color: #fff;
        }
    }
    .dx-toast-error{
        background-color: #FFFFFF !important;
        border: 1px solid #F31559;
        border-radius: 8px !important;
        min-height: 250px;
        font-size: 20px;
        justify-content: center;
        .dx-toast-message{
            padding: 15px 10px;
            border-radius: 8px !important;
            background: #F31559;
            border: 1px solid #F31559;
            color: #fff;
        }
    }
}


// submit buttons::after
.submit-section{
    margin-top: 10px;
    .dx-form-group-content{
        display: flex !important;
        justify-content: flex-end;
        gap: 2px;
        .save-button {
            .dx-button-text{
                    color: #efefef;
            }
        }
    }
}