.dropdown {
    position: absolute;
    z-index: 999;
    right: 20px;
    top: 0rem;
    width: 300px;
    height: 100vh;
    border-radius: 13.841px;
    border-bottom: 4px solid #4371B7;
    background: #FFF;
    box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.50);
    animation: dropdownanimation 0.5s both ease-in-out;

    @keyframes dropdownanimation {
        0% {
            opacity: 0;
            // height: 0;
        }

        100% {
            opacity: 1;
            // height: 100vh;
        }
    }

    .dropdown-header {
        border-radius: 8px 8px 0px 0px;
        background-color: #4371B7;
        padding: .8rem 1rem;
        color: #FFF;

        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;

        .heading {
            font-size: 16px;
        }

        .sub-heading {
            color: var(--default-gray-20, #E0E0E0);
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Roboto;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .dropdown-body {
        position: relative;

        ::-webkit-scrollbar {
            width: 6px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #888;
            border-radius: 4px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: #4371B7;
        }

        ::-webkit-scrollbar-track:hover {
            background-color: #f0f0f0;
        }

        .batch-serial-acrdn {
            margin: 0;
            position: relative;

            .dx-accordion-wrapper {
                .dx-item {
                    border: 0px;
                    box-shadow: none;
                    color: #525252;
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    margin: 0.8rem 0px;
                    line-height: normal;

                    .dx-item-content.dx-accordion-item-title {
                        margin-left: 10px;

                        .dx-accordion-item-title-caption {
                            font-size: 14px;
                            color: #525252;
                            font-feature-settings: 'clig' off, 'liga' off;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }

                    .dx-item-content.dx-accordion-item-body {
                        padding: 0;

                        .custom-checkbox {
                            margin: 1rem 2rem;

                            .dx-widget {
                                .dx-checkbox-container {
                                    gap: 0.6rem;
                                    color: #8D8D8D;
                                    font-family: Roboto;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                }
                            }
                        }

                        .dx-selectbox {
                            margin: 15px 20px;
                            border-radius: 8px;
                            box-shadow: none;
                            background-color: transparent;
                            border-radius: 8px;
                            border: 1px solid #E0E0E0;
                            color: #E0E0E0;
                        }
                    }
                }

                .dx-accordion-item.dx-state-hover {
                    .dx-accordion-item-title {
                        background: transparent !important;
                    }
                }

                .dx-accordion-item.dx-state-focused {
                    .dx-accordion-item-title {
                        background: transparent !important;
                    }
                }

                .dx-accordion-item-opened {
                    position: relative;

                    .dx-item-content.dx-accordion-item-title {
                        .dx-accordion-item-title-caption {
                            color: #525252;
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .batch-serial-acrdn {
            .dx-accordion-item-opened:after {
                content: " ";
                position: absolute;
                left: 0;
                top: 6px;
                transform: rotate(90deg);

                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #4371B7;
                border-top: 10px solid transparent;
            }
        }

        .quality-control-dropdown {
            cursor: pointer;
            padding: 5px 21px;
            margin-bottom: 20px;
            color: #525252;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            margin: 0.8rem 0px;
            line-height: normal;
        }

        .subdropdown-open {
            color: #4371B7;
            font-weight: bold;
            position: relative;
        }

        .subdropdown-open:after {
            content: " ";
            position: absolute;
            left: 0;
            top: 4px;
            transform: rotate(90deg);

            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #4371B7;
            border-top: 10px solid transparent;
        }
    }

    .dropdown-footer {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        position: absolute;
        bottom: 1rem;
        height: 10px;
        width: 100%;
        text-align: right;
        padding: 1rem 2rem;
        margin-bottom: .5rem;

        .btn-group {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .my-button {
                padding: 5px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 14px;
                width: 100px;
                background: transparent;
            }

            .save-button {
                background-color: #4371B7;

                .dx-button-content {
                    .dx-button-text {
                        color: #fff;
                    }
                }
            }

            .cancel-button {
                border: 1px solid #4371B7;
                color: #4371B7;

                &:hover {
                    background-color: #f0f0f0;
                }
            }
        }
    }
}