@import "../../themes/generated/variables.base.scss";

.grid-container {
    display: grid;
    gap: 20px 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 10px;

    a {
        text-decoration: none;
    }

    .dx-card {
        width: 350px;
        // height: 200px;
        margin: auto auto;
        padding: 15px;
        border-radius: 13.841px;
        border-bottom: 4px solid #4371B7;
        background: #FFF;
        box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.10);

        .pin {
            text-align: right;
        }

        .card-body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
        }

        .circle {
            width: 70px;
            height: 70px;
            line-height: 70px;
            font-size: 30px;
            border-radius: 8px;
            background-color: #4371b7;
            text-align: center;
            color: #FFF;
            text-shadow: 3px 3px 1px #525252;
        }

        .header {
            display: flex;
            padding: 0;
            color: #4371B7;

            .dx-button {
                margin-left: 0;
                background: transparent;
                cursor: default;
            }

            .dx-button-has-icon .dx-icon {
                width: 22px;
                height: 22px;
                color: #525252;
            }

            .heading {
                margin-left: 2px;
                color: $base-text-color;
                line-height: 28px;
                font-weight: 500;
                font-size: 16px;
                text-decoration: none;
            }
        }

        .description {
            color: rgba($base-text-color, alpha($base-text-color) * 0.7);
            line-height: 18px;
            margin-top: 10px;
        }

        .card-footer {
            .dx-button {
                margin: 0px !important;
            }

            .dx-button-has-text .dx-button-content .dx-button-text {
                color: #4371B7;
            }

            display: flex;
            justify-content: space-between;
            align-items: center;
            justify-self: end;
            margin-top: 20px;
        }
    }
}

// 450 | 600 | 768 | 840 | 992 | 1024

@media only screen and (max-width: 450px) {
    .grid-container {
        gap: 30px;
        grid-template-columns: 1fr;

        .dx-card {
            width: 320px;

            .circle {
                width: 60px;
                height: 50px;
                line-height: 50px;
                font-size: 20px;
            }
        }
    }
}

@media only screen and (min-width: 450px) {
    .grid-container {
        gap: 30px;
        grid-template-columns: 1fr;

        .dx-card {
            width: 350px;

            .circle {
                width: 60px;
                height: 45px;
                line-height: 45px;
                font-size: 20px;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .grid-container {
        gap: 20px;
        grid-template-columns: 1fr 1fr;

        .dx-card {
            width: 280px;

            .circle {
                width: 60px;
                height: 50px;
                line-height: 50px;
                font-size: 20px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .grid-container {
        gap: 20px;
        grid-template-columns: 1fr 1fr;

        .dx-card {
            width: 310px;

            .circle {
                width: 75px;
                height: 50px;
                line-height: 50px;
                font-size: 20px;
            }
        }
    }
}

@media only screen and (min-width: 840px) {
    .grid-container {
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;

        .dx-card {
            width: 290px;

            .circle {
                width: 70px;
                height: 50px;
                line-height: 50px;
                font-size: 25px;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .grid-container {
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;

        .dx-card {
            width: 350px;

            .circle {
                width: 70px;
                height: 60px;
                line-height: 60px;
                font-size: 25px;
            }
        }
    }
}