.grpo-content-wrapper {
    margin-top: 40px !important;
    .title-section {
        display: flex;
        flex-direction: column;
        gap: 0.4rem         ;
        .title-name {
            color: #393939;
            font-feature-settings: 'clig' off, 'liga' off;
            /* H5 Semi- bold */
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
            /* 116.667% */
        }

        .title-description {
            color: #8D8D8D;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-bottom: 10px !important;
        }
    }

    .actions-section {
        display: flex !important;
        justify-content: baseline;
        gap: 15px;
        flex-wrap: wrap;
        margin-top: 15px;
        margin-bottom: 1rem;

        .search-section {
            display: flex !important;

            .dx-field-value.dx-show-invalid-badge.dx-textbox.dx-texteditor.dx-editor-outlined.dx-widget {
                border-radius: 8px !important;
                box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25) !important;
            }

        }
    }

    .po-list-section {
        display: flex !important;
        flex-direction: column;
        padding-top: 1rem;
        gap: 5px;

        .single-po {
            padding: 12px 8px;
            justify-content: space-between;
            align-items: center;
            border: 0.5px solid #e0e0e0;
            border-radius: 8px;
            padding-bottom: 0%;
            &:nth-child(even) {
                background: rgba(87, 133, 203, 0.05);
                border: 0.5px solid rgba(87, 133, 203, 0.05);
            }

            .single-po-delete {
                .dx-button {
                    margin-left: 0px !important;
                    background-color: transparent;
                }

                .dx-icon.dx-icon-trash {
                    color: #6F6F6F !important;
                }
            }

            .single-po-name {
                flex: 1;
                padding-left: 15px;
                display: flex !important;
                align-items: center;

                .po-name {
                    color: #525252;
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    width: 182px !important;
                }

                .dx-icon-custom-chevron-down-icon {
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGlkPSJWZWN0b3IiIGQ9Ik02LjAwMDAyIDcuMzUzODdMMC4zNDYxOTEgMS43MDAwN0wxLjQwMDAyIDAuNjQ2MjRMNi4wMDAwMiA1LjI0NjI0TDEwLjYgMC42NDYyNEwxMS42NTM4IDEuNzAwMDdMNi4wMDAwMiA3LjM1Mzg3WiIgZmlsbD0iIzI2MjYyNiIvPgo8L3N2Zz4K);
                    background-repeat: no-repeat;
                    background-position: 0px 0px;
                    margin-top: 5px !important;
                }
            }

            .single-po-proceed {}

            
            
        }
    }

    
}



.dx-overlay-content.dx-popup-normal.dx-popup-draggable.dx-resizable {
    .dx-popup-content {
        .grpo-po-help-container {
            .header-section {}

            .dx-widget.dx-visibility-change-handler {
                max-height: 80%;

                .dx-datagrid.dx-gridbase-container.dx-datagrid-borders {
                    // border-radius: 8px;
                    // background: #FFF;
                    // box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
                    margin: 15px 0;

                    .dx-datagrid-header-panel {
                        padding-bottom: 1rem !important;

                        .dx-texteditor.dx-editor-filled {
                            background-color: #fff !important;
                            border: 1px solid #e0e0e0 !important;
                            border-radius: 8px;
                        }

                        .dx-texteditor.dx-editor-filled::after {
                            border-bottom: none !important;
                        }

                        .dx-texteditor.dx-state-focused::before {
                            border-bottom: none !important;
                            transform: none !important;

                        }

                        .dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection {
                            .dx-toolbar-items-container {
                                .dx-toolbar-after {
                                    padding-left: 0px !important;
                                    width: 100%;

                                    .dx-item.dx-toolbar-item.dx-toolbar-button {
                                        .dx-item-content.dx-toolbar-item-content {
                                            .dx-datagrid-search-panel.dx-show-invalid-badge.dx-textbox.dx-texteditor.dx-editor-filled.dx-searchbox.dx-show-clear-button {
                                                width: 100% !important;
                                                margin: 0 0 0 0 !important;

                                                .dx-texteditor-container {
                                                    width: 100% !important;

                                                    .dx-texteditor-input-container {
                                                        width: 100% !important;

                                                    }
                                                }
                                            }

                                            .dx-datagrid-search-panel.dx-show-invalid-badge.dx-textbox.dx-texteditor.dx-editor-filled.dx-searchbox.dx-show-clear-button.dx-texteditor-empty.dx-widget.dx-state-focused {
                                                border: 1px solid #4371B7 !important;
                                                box-shadow: 0px 1px 120px 0px rgba(0, 0, 0, 0.01);

                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }

                    .dx-datagrid-headers.dx-datagrid-nowrap {
                        padding-left: 24px;
                        padding-right: 24px;
                        border: 0px !important;
                        border-radius: 8px 8px 0 0 !important;
                        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.10);

                        .dx-datagrid-content.dx-datagrid-scroll-container {
                            .dx-datagrid-table.dx-datagrid-table-fixed {
                                margin: 10px 0px !important;
                            }

                        }

                    }

                    .dx-datagrid-rowsview.dx-datagrid-nowrap.dx-scrollable.dx-visibility-change-handler.dx-scrollable-both.dx-scrollable-native.dx-scrollable-native-generic {
                        border-radius: 0px 0px 8px 8px !important;
                        border: 0px !important;
                        padding-top: 10px !important;
                        padding-bottom: 2rem !important;
                        padding-left: 24px !important;
                        padding-right: 24px !important;
                        box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.10);

                        .dx-scrollable-wrapper {
                            .dx-scrollable-container {
                                .dx-scrollable-content {
                                    .dx-datagrid-content {
                                        .dx-datagrid-table.dx-datagrid-table-fixed {
                                            colgroup {
                                                col {
                                                    margin-top: 10px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }


                }
            }
        }

    }

    // the pop of searching the grpo thingy
    .dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection.dx-popup-bottom {
        .dx-toolbar-items-container {
            .dx-toolbar-after {
                padding-right: 24px !important;

                .tootlbar-save-button {
                    .dx-item-content.dx-toolbar-item-content {
                        div[aria-label="Save"].dx-button {
                            .dx-button-content {
                                .dx-button-text {
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 568px) {
        .dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection.dx-popup-bottom {
            .dx-toolbar-items-container {
                .dx-toolbar-after {
                    .tootlbar-save-button {
                        .dx-item-content.dx-toolbar-item-content {
                            div[aria-label="Save"].dx-button {
                                .dx-button-content {
                                    .dx-button-text {
                                        color: red; // Change the color to red for smaller screens
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}


@media only screen and (max-width: 450px) {
    .grpo-content-wrapper {
        margin-top: 40px !important;
        .title-section {
            display: flex;
            flex-direction: column;
            gap: 0.4rem         ;
            .title-name {
                font-size: 18px;
            }
    
            .title-description {
                font-size: 14px;
            }
        }

        .actions-section {
            .search-section {
                .dx-field-value.dx-show-invalid-badge.dx-textbox.dx-texteditor.dx-editor-outlined.dx-widget{
                    width: 100% !important;
                }
            }
        }
    }
}
