#generate-receipt-container{
    .header-section{
        gap : 0px !important;
    }
    .actions-section{
        .action-before-section{
            display: flex !important;
            gap: 16px;
            .buttons-section{
                display: flex;
                gap: 16px;
                .period-indicator-dropdown{
                    height: 100%;
                    width: 150px !important;
                }
                .series-indicator-dropdown{
                    height: 100%;
                    width: 150px;
                }
            }
        }
    }
}
/*********Pop up styles*********/
.dx-popup-content{
    .generate-receipt-qr-popup-content-wrapper{
        height: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        .action-section{
            margin-top: auto;
        }
    }
}
@media only screen and (max-width: 806px) {
    #generate-receipt-container{
        
        .actions-section{
            .action-before-section{
                flex-direction: column;
                .buttons-section{
                    display: flex;
                    gap: 16px;
                    .period-indicator-dropdown{
                        height: 100%;
                        width: 150px !important;
                    }
                    .series-indicator-dropdown{
                        height: 100%;
                        width: 150px;
                    }
                }
                
            }
        }
    }
  }