.popup-btn-save {
    .dx-button-content {
        background-color: #4371b7 !important;
    }
}

.title {
    font-size: 30px;
}

.successAlert {
    margin-top: 50px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;

    img {
        margin-top: 20px;
        align-self: center;
        height: 200px;
        width: 200px;
    }
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 20px;
    }

    .successAlert {
        margin-top: 20px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 2px;

        img {
            margin-top: 20px;
            align-self: center;
            height: 150px;
            width: 150px;
        }
    }
}