.po-list-section {
    display: flex !important;
    flex-direction: column;
    padding-top: 1rem;
    gap: 5px;

    .single-po1 {
        padding: 12px 8px;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        max-height: 80px;
        border: 0.5px solid #e0e0e0;
        border-radius: 8px;

        &:nth-child(even) {
            background: rgba(87, 133, 203, 0.05);
            border: 0.5px solid rgba(87, 133, 203, 0.05);
        }

        .single-po-delete {
            .dx-button {
                margin-left: 0px !important;
                background-color: transparent;
            }

            .dx-icon.dx-icon-trash {
                font-size: 18px !important;
                color: #6F6F6F !important;
            }
        }

        .single-po-name {
            flex: 1;
            padding-left: 15px;
            display: flex !important;
            align-items: center;

            .po-name {
                color: #525252;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 182px !important;
            }

            .dx-button-has-icon .dx-icon {
                font-size: 22px !important;
            }
        }
    }
}

.dx-popup-content {
    .dx-overlay-wrapper .dx-overlay-content .dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection.dx-popup-bottom {
        background-color: transparent !important;
    }

    .dx-datagrid.dx-gridbase-container.dx-datagrid-borders {
        .dx-datagrid-headers.dx-datagrid-nowrap {
            padding: 0px !important;
        }
    }

    .dx-toolbar-items-container {
        margin: 10px !important;
    }
}

.dx-overlay-wrapper .dx-overlay-content .dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection.dx-popup-bottom {
    background-color: transparent !important;
    padding-bottom: 20px;
}