@import "./themes/generated/variables.base.scss";

.app {
  background-color: darken($base-bg, 5.00);
  display: flex;
  height: 100%;
  width: 100%;

  .content {
    line-height: 1.5;
    flex-grow: 1;

    h2 {
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .container {
    height: 100%;
    flex-direction: column;
    display: flex;
  }

  .layout-body {
    flex: 1;
    min-height: 0;
  }

  .content-block {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
  }
}

.side-nav-outer-toolbar .dx-drawer {
  height: calc(100% - 56px)
}

.screen-x-small .content-block {
  margin-left: 20px;
  margin-right: 20px;
}

.responsive-paddings {
  padding: 20px;

  .screen-large & {
    padding: 40px;
  }
}

.responsive-paddings-sm {
  padding: 10px 20px 20px 20px;

}

.dx-card.wide-card {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: 0;
  border-left: 0;
}

.with-footer>.dx-scrollable-wrapper>.dx-scrollable-container>.dx-scrollable-content {
  height: 100%;

  &>.dx-scrollview-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

$side-panel-min-width: 60px;

html,
body {
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}


.dx-overlay-wrapper.dx-popup-wrapper.dx-dropdownmenu-popup-wrapper.dx-dropdownmenu-popup {
  .dx-overlay-content.dx-popup-normal.dx-resizable {
    background: linear-gradient(to right, #fff 16px, #FFF 16px)
  }
}

// the color for blue button text
.default-button {
  .dx-button-content {
    .dx-button-text {
      color: #fff;
    }
  }
}

/*------------------------- pages default wrapper container ------------------------------------*/
.default-main-conatiner {
  min-height: 80vh !important;
  display: flex !important;
  flex-direction: column;
  gap: 1.5rem !important;

  .header-section {
    display: flex !important;
    flex-direction: column;
    gap: 5px !important;
  }

  .search-section {}
}

/*------------------------- pages default wrapper container ------------------------------------*/
@media only screen and (max-width:568px) {
  .default-button {
    width: 100px !important;
    height: 30px !important;
  }
}

/*------------------------- navigation icons  ------------------------------------*/

.ic-home:before {
  content: 'home';
  font-size: 20px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-view_list:before {
  content: 'view_list';
  font-size: 20px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-category:before {
  content: 'category';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-change_history:before {
  content: 'change_history';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-fiber_manual_record:before {
  content: 'fiber_manual_record';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-scale:before {
  content: 'scale';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-location_on:before {
  content: 'location_on';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-warehouse:before {
  content: 'warehouse';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-real_estate_agent:before {
  content: 'real_estate_agent';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-shopping_cart:before {
  content: 'shopping_cart';
  font-size: 20px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-arrow_downward:before {
  content: 'arrow_downward';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-qr_code_scanner:before {
  content: 'qr_code_scanner';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-description:before {
  content: 'description';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-fact_check:before {
  content: 'fact_check';
  font-size: 20px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-troubleshoot:before {
  content: 'troubleshoot';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-youtube_searched_for:before {
  content: 'youtube_searched_for';
  font-Size: 24px;
  stroke-Width: 2;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-details:before {
  content: 'details';
  font-size: 20px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-logout:before {
  content: 'logout';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-rule:before {
  content: 'rule';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-call_received:before {
  content: 'call_received';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-inventory_2:before {
  content: 'inventory_2';
  font-size: 20px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-move_up:before {
  content: 'move_up';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-local_shipping:before {
  content: 'local_shipping';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-webhook:before {
  content: 'webhook';
  font-size: 20px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-local_shipping:before {
  content: 'local_shipping';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-query_stats:before {
  content: 'query_stats';
  font-size: 20px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-show_chart:before {
  content: 'show_chart';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-find_in_page:before {
  content: 'find_in_page';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}


//machine filters
.ic-groups_2:before {
  content: 'groups_2';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-schedule:before {
  content: 'schedule';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-groups_2:before {
  content: 'groups_2';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-question_mark:before {
  content: 'question_mark';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-precision_manufacturing:before {
  content: 'precision_manufacturing';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.ic-calendar_today:before {
  content: 'calendar_today';
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}