#gate-in-main-container {
    margin-top: 40px !important;

    .navigation-header-gatein {

        display: flex;
        justify-content: space-between;
        padding: 16px 0px;

        .title-section {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;

            .title-name {
                color: #393939;
                // margin-top: 10px;
                // margin-bottom: 10px;
                font-feature-settings: 'clig' off, 'liga' off;
                /* H5 Semi- bold */
                font-family: Poppins;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
                /* 116.667% */
            }

            .title-description {
                color: #8D8D8D;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                // padding-bottom: 10px !important;
            }
        }

        .dx-tabs.dx-widget.dx-visibility-change-handler.dx-collection.dx-tabs-expanded {
            font-family: Poppins !important;
            align-self: flex-start !important;

            .dx-tabs-wrapper {
                .dx-item.dx-tab.dx-tab-selected {
                    .dx-item-content.dx-tab-content {
                        text-transform: none !important;

                        .dx-tab-text {
                            color: #161616;
                            font-family: Poppins;
                            font-style: normal;
                            line-height: normal;
                        }
                    }
                }
            }
        }
    }

    .dx-saveBtn {
        .dx-button {
            .dx-button-content {
                .dx-button-text {
                    color: white !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 880px) {
    #gate-in-main-container {
        .navigation-header-gatein {
            flex-direction: column;
            .title-section {
                .title-name{
                    font-size: 18px;
                }
                .title-description {
                    font-size: 14px;
                }
            }

            #selectTab{
                width: 100% !important;
            }
        }
    }
}
