.verify-material-container {
    min-height: 80vh !important;

    .header-section {}

    .search-section,
    .verify-material-main-section {
        margin-top: 1rem;
    }

    .verify-material-main-section {
        #selectTab {
            .dx-tabs-wrapper {

                //when the tab is selected
                .dx-item.dx-tab {
                    .dx-item-content.dx-tab-content {
                        .dx-tab-text {
                            color: #161616;
                        }
                    }
                }
            }
        }
    }
}