.issue-material-container{
    min-height: 80vh !important;
    .header-section{

    .header-section {}

    .search-section-verify,
    .issue-material-main-section {
        display: flex;
        margin-top: 1rem !important; 
    }
    
    .issue-material-main-section{
        #selectTab{
            .dx-tabs-wrapper{
                //when the tab is selected
                .dx-item.dx-tab{
                    .dx-item-content.dx-tab-content{
                        .dx-tab-text{
                            color: #161616;
                        }
                    }
                }
            }
        }
    }
}